
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

<body>

  <form action="/madlib">
  <p>Please enter your madlibs</p>

  <input type="text" name="color" placeholder = "color"/>
  <input type="text" name="noun" placeholder = "noun"/>
  <input type="text" name="person" placeholder = "person"/>
  <input type="text" name="adjective" placeholder = "adjective"/>

  <button type="submit">Let's Go!</button>
  
</form>


</html>